
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Web Api 2 File Upload</title>
</head>
<body>
    <div>
        <form action="@Url.Action("files", "api/test")" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Upload Form</legend>
                <ol>
                    <li>
                        <label>Description</label>
                        <input type="text" name="description" id="description" />
                    </li>
                    <li>
                        <label>Upload</label>
                        <input type="file" id="fileInput" name="fileInput" multiple />
                    </li>
                    <li>
                        <input type="submit" />
                    </li>
                </ol>
            </fieldset>
        </form>
    </div>
</body>
</html>